 <!DOCTYPE html>
<html lang="en">
  <head>
        <title>Devices</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href = "css/bootstrap.min.css" rel = "stylesheet" media="screen">
        <link href = "css/styles.css" rel = "stylesheet" media="screen">

  </head>

<body>
<!-- Navigation Bar -->
 <div class = "navbar navbar-inverse navbar-fixed-top">
              <div class = "container">  
                      <a href = "#" class = "navbar-brand">Devices Manager beta</a>
                      <button class = "navbar-toggle" data-toggle = "collapse" data-target = ".navHeaderCollapse">
                              <span class = "icon-bar"></span>
                              <span class = "icon-bar"></span>
                              <span class = "icon-bar"></span>
                      </button>
                      <div class = "collapse navbar-collapse navHeaderCollapse">                        
                              <ul class = "nav navbar-nav navbar-right">
                                      <li class = "active"><a href = "#">Home</a></li>
                                      <li class = "dropdown">
                                              <a href = "#" class = "dropdown-toggle" data-toggle = "dropdown">Devices <b class = "caret"></b></a>
                                              <ul class = "dropdown-menu">
                                                      <li><a href = "#">Controller</a></li>
                                                      <li><a href = "#">Switch</a></li>
                                                      <li><a href = "#">Nodes</a></li>
                                                      <li><a href = "#">Links</a></li>
                                              </ul>
                                      </li>
                                      <li><a href = "#">About</a></li>
                              </ul>
                      </div>   
              </div>
</div>
<!-- Navigation Ends -->

<!--Jumbotron Desktop-->
<div class="jumbotron page-header hidden-xs">
  <div class="container">
    <div class="panel-body">
      <h2 class="jumbotron-data"><center>TOPOLOGY SUMMARY</center></h2>
      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 small-padding">
        <h3><center><span class="label label-success">Hosts UP</span></center></h3>
        <h3><center><span class="label label-danger">Hosts DOWN</span></center></h3>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 small-padding">
        <h3><center><span class="label label-success">Nodes UP</span></center></h3>
        <h3><center><span class="label label-danger">Nodes DOWN</span></center></h3>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 small-padding">
        <h3><center><span class="label label-success">Links UP</span></center></h3>
        <h3><center><span class="label label-danger">Links DOWN</span></center></h3>
      </div>
    </div>
  </div>
</div><!--END Jumbotron Desktop-->

<!--Jumbotron Mobile-->
<div class="jumbotron page-header visible-xs">
  <div class="container">
    <div>
      <h4 class="small-h4"><center>TOPOLOGY SUMMARY</center></h4>
      <div class="col-xs-6 panel-body">
        <h5><center><span class="label label-success">Hosts UP</span></center></h5>
        <h5><center><span class="label label-success">Nodes UP</span></center></h5>
        <h5><center><span class="label label-success">Links UP</span></center></h5>

      </div>
      <div class="col-xs-6 panel-body">
        <h5><center><span class="label label-danger">Hosts DOWN</span></center></h5>
        <h5><center><span class="label label-danger">Nodes DOWN</span></center></h5>
        <h5><center><span class="label label-danger">Links DOWN</span></center></h5>
      </div>
    </div>
  </div>
</div><!--END Jumbotron Mobile--> 

<!--Topology representation-->
<div class="container">
  <div class="row">
    <div class="col-lg-8 col-md-8 col-sm-8">
        <div class="panel-body well">
              <h2 class="page-header">TOPOLOGY</h2>
              <br>
              <div class="topo"></div>
        </div>
      
    </div>
              
    <div class="col-lg-4 col-md-4 col-sm-4"> <!--SIDEBAR-->

        <div class="panel-body well">
          <div id="devices">  
            <script type="text/template" id="device-template">  
              <div>  
                <h3>Name: <%= name %></h3>
                <p>Id: <%= id %></p>
                <p>Status: <%= status %></p>
                <p>Ports Connected: <%= portsConnected %></p>
                <p>Total Ports: <%= totalPorts %></p>
                <p>MAC 1: <%= mac1 %></p>
                <p>MAC 2: <%= mac2 %></p>
                <p>MAC 3: <%= mac3 %></p>
                <p>MAC 4: <%= mac4 %></p>
              </div> 
              </script>
          </div>
          <a class="btn btn-success btn-lg btn-block" href="#statisticsDialog" role="button" data-toggle="modal"> <span class="glyphicon glyphicon-stats"></span> Statistics</a>
        </div>
      
    </div><!--END SIDEBAR-->
  </div>
</div><!--END Topology representation-->



<!-- Modal statistics -->
 <div class = "modal fade" id = "statisticsDialog" role = "dialog">
    <div class = "modal-dialog">
        <div class = "modal-content">
            <div class = "modal-header center-btn">
              <h4><span class="glyphicon glyphicon-stats"></span> Statistics</h4>  
              <div class="btn-group">
                <button id="devicesSelec" type="button" class="btn btn-info dropdown-toggle center" data-toggle="dropdown">
                  Select device <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu">
                  <li><a tabindex="-1" href="#">Device 1 </a></li>
                  <li><a tabindex="-1" href="#">Device 2 </a></li>
                </ul>
              </div>
              
            </div>

            <div class = "modal-body">

              <div class="tabbable">
                <ul class="nav nav-pills nav-justified">
                  <li class="active"><a href="sended" data-toggle="tab"> <span class="glyphicon glyphicon-circle-arrow-up"></span> Sended</a> </li>
                  <li><a href="received" data-toggle="tab"><span class="glyphicon glyphicon-circle-arrow-down"></span> Received</a></li>
                  <li><a href="errors" data-toggle="tab"><span class="glyphicon glyphicon-remove-sign"></span> Errors</a></li>
                </ul>
              <div class="tab-content">
                <div id="sended" class="tab-pane active">
                  <br>
                  <Textarea class="form-control" rows="10"></Textarea>
                </div>
                <div id="received" class="tab-pane">
                  <br>
                  <Textarea class="form-control" rows="10"></Textarea>
                </div>
                <div id="errors" class="tab-pane">
                  <br>
                  <Textarea class="form-control" rows="10"></Textarea>
                </div>
              </div> <!-- tab-content -->
                
              </div><!-- tabbable -->
            </div>

            <div class = "modal-footer">  
                <a class = "btn btn-danger" data-dismiss = "modal">Close</a>
            </div>
        </div>
    </div>
</div>


 
<!-- JavaScript -->
	<script type="text/javascript" src="js/jquery-2.0.3.js"></script>
	<script type="text/javascript" src="js/ajax.js"></script>
	<script src="js/d3.v3.min.js"></script>
    <script src="js/bootstrap.js"></script>
    <script src="http://documentcloud.github.com/underscore/underscore-min.js"></script>
    <script src="http://documentcloud.github.com/backbone/backbone-min.js"></script>
    <script src="js/client.js"></script>
    <script src="js/topology.js"></script>
	

<!-- Templates -->
</body>
</html>