<?xml version="1.0" encoding="UTF-8"?>
<!-- This web.xml file is not required when using Servlet 3.0 container, 
        see implementation details http://jersey.java.net/nonav/documentation/latest/jax-rs.html -->
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <!-- BEGIN TOPOLOGY SERVER -->
    <servlet>
        <servlet-name>DXAT Topology Service</servlet-name>
        <servlet-class>org.glassfish.jersey.servlet.ServletContainer</servlet-class>
        <init-param>
            <param-name>jersey.config.server.provider.packages</param-name>
            <param-value>dxat.appserver.topology.resources</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>DXAT Topology Service</servlet-name>
        <url-pattern>/webapi/topology/*</url-pattern>
    </servlet-mapping>
    <!-- END TOPOLOGY SERVER -->
    <!-- BEGIN STATISTICS SERVER -->
    <servlet>
        <servlet-name>DXAT Statistics Service</servlet-name>
        <servlet-class>org.glassfish.jersey.servlet.ServletContainer</servlet-class>
        <init-param>
            <param-name>jersey.config.server.provider.packages</param-name>
            <param-value>dxat.appserver.stat.resources</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>DXAT Statistics Service</servlet-name>
        <url-pattern>/webapi/statistics/*</url-pattern>
    </servlet-mapping>
    <!-- END STATISTICS SERVER -->
    <!-- BEGIN FLOW SERVER -->
    <servlet>
        <servlet-name>DXAT Flow Service</servlet-name>
        <servlet-class>org.glassfish.jersey.servlet.ServletContainer</servlet-class>
        <init-param>
            <param-name>jersey.config.server.provider.packages</param-name>
            <param-value>dxat.appserver.flows.resources</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>DXAT Flow Service</servlet-name>
        <url-pattern>/webapi/flows/*</url-pattern>
    </servlet-mapping>
    <!-- END FLOW SERVER -->
    <!-- USER MANAGEMENT -->
    <servlet>
        <servlet-name>DXAT Manager Service</servlet-name>
        <servlet-class>org.glassfish.jersey.servlet.ServletContainer</servlet-class>
        <init-param>
            <param-name>jersey.config.server.provider.packages</param-name>
            <param-value>dxat.appserver.manager.resources</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>DXAT Manager Service</servlet-name>
        <url-pattern>/webapi/manager/*</url-pattern>
    </servlet-mapping>
    <!-- END USER MANAGEMENT -->
    <!-- BEGIN REALTIME WEBSOCKET -->
    <servlet>
        <servlet-name>Real Time Web Socket</servlet-name>
        <servlet-class>dxat.appserver.realtime.resources.RealTimeWebSocket</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Real Time Web Socket</servlet-name>
        <url-pattern>/realtimewebsocket</url-pattern>
    </servlet-mapping>
    <!-- END REALTIME WEBSOCKET -->
</web-app>